<form [formGroup]="formulario">
  <div class="container-fluid">
    <div class="row py-3">
      <div class="form-group col-md-3">
        Status: <input class="form-control form-control-sm" formControlName="status" autocomplete="off">
      </div>
      <div class="form-group col-md-3">
        Codigo: <input class="form-control form-control-sm" formControlName="codigo" autocomplete="off">
      </div>
      <div class="form-group col-md-4">
        Descrição: <input class="form-control form-control-sm" formControlName="descricao" autocomplete="off">
      </div>
      <div class="form-group col-md-2 align-self-end">
        <button type="button" class="btn btn-sm btn-dark rounded-circle" (click)="inserirRegistro()"><i class="fas fa-check fa-fw"></i></button>
        <button type="button" class="btn btn-sm btn-danger ml-2 rounded-circle" (click)="resetarForm()"><i class="fas fa-times fa-fw"></i></button>
      </div>
    </div>
    <div class="row py-3" *ngIf="catalogo">
      <div class="col-md-12">
        <h4 class="mb-3 text-center">Listagem de catálogo</h4>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="formularioItensCatalogo" *ngIf="!catalogo">
    <div class="container-fluid">
      <div class="row py-3">
        <div class="col-md-12">
          <h4 class="mb-3 text-center">Opções do catálogo</h4>
        </div>
      </div>
      <div class="row py-3">
        <div class="form-group col-md-3">
          <input type="hidden" formControlName="id_catalogo">
          Status: <input class="form-control form-control-sm" formControlName="status" autocomplete="off">
        </div>
        <div class="form-group col-md-3">
          Codigo: <input class="form-control form-control-sm" formControlName="codigo" autocomplete="off">
        </div>
        <div class="form-group col-md-4">
          Descrição: <input class="form-control form-control-sm" formControlName="descricao" autocomplete="off">
        </div>
        <div class="form-group col-md-2 align-self-end">
          <button type="button" class="btn btn-sm btn-dark rounded-circle" (click)="inserirRegistroItemCatalogo()"><i class="fas fa-check fa-fw"></i></button>
          <button type="button" class="btn btn-sm btn-danger ml-2 rounded-circle" (click)="resetarFormItemCatalogo()"><i class="fas fa-times fa-fw"></i></button>
        </div>
      </div>
    </div>
  </form>
<table style="width: 100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="catalogo">
    
    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
      
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> <small><i [class]="element.status == 1 ? 'fas fa-circle text-success' : 'fas fa-circle text-danger'"></i></small></td>
      </ng-container>
      
      <!-- Código Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>
      
      <!-- Descrição Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>
      
      <!-- Ações Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element, let i = index">
          <button type="button" class="btn btn-sm btn-dark rounded-circle" (click)="editarRegistro(i)"><i class="far fa-edit fa-fw"></i></button>
          <button type="button" class="btn btn-sm btn-danger rounded-circle ml-2" (click)="excluirRegistro(i)"><i class="far fa-fw fa-trash-alt"></i></button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <table style="width: 100%" mat-table [dataSource]="itensCatalogo" class="mat-elevation-z8" *ngIf="!catalogo">
      
    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
      
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> <small><i [class]="element.status == 1 ? 'fas fa-circle text-success' : 'fas fa-circle text-danger'"></i></small></td>
      </ng-container>
      
      <!-- Código Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>
      
      <!-- Descrição Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>
      
      <!-- Ações Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element, let i = index">
          <button type="button" class="btn btn-sm btn-dark rounded-circle" (click)="editarRegistro(i)"><i class="far fa-edit fa-fw"></i></button>
          <button type="button" class="btn btn-sm btn-danger rounded-circle ml-2" (click)="excluirRegistro(i)"><i class="far fa-fw fa-trash-alt"></i></button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>