<div class="container-fluid">
    <div class="row my-3">
        <div class="col-md-6 col-lg-2">
            <mat-form-field class="example-full-width w-100">
                <mat-select placeholder="Status">
                    <mat-option *ngFor="let item of status" [value]="item.value">
                        <small><i [class]="item.viewValue == 1 ? 'fas fa-circle text-success' : 'fas fa-circle text-danger'"></i></small>
                    </mat-option>
                </mat-select>
            </mat-form-field>                      
        </div>
        <div class="col-md-6 col-lg-2">
            <mat-form-field class="example-full-width w-100">
                <input matInput placeholder="Código" value="">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-5">
            <mat-form-field class="example-full-width w-100">
                <input matInput placeholder="Descrição" class="w-100" value="">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-3 w-100 text-center text-md-right align-self-center">
            <button mat-raised-button color="primary"><i class="fas fa-filter"></i></button>
            <button mat-raised-button color="warn" class="ml-1"><i class="fas fa-times"></i></button>
            <button mat-raised-button color="accent" class="ml-1"><i class="fas fa-plus"></i></button>
        </div>
    </div>
</div>